
<!-- importar archivo que contiene la barra de navegacion -->
{% extends 'base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aut obcaecati architecto temporibus fugit ullam voluptas id eum dolores inventore iure, placeat illum nobis. Ut quidem, quas hic impedit aliquid unde ipsa quaerat odit modi numquam animi nostrum, sunt quibusdam nesciunt explicabo sapiente atque dolores quia. Vitae, accusamus? Voluptatibus hic dolore omnis incidunt. Modi, ab expedita ullam vel tempore et excepturi hic molestiae sequi, quisquam obcaecati natus fugit quod quia delectus corrupti explicabo eum maxime quam recusandae? Rerum eius facere explicabo ipsa nobis enim deleniti! Saepe ex facere error a sapiente repudiandae voluptatem expedita perferendis rem? Quos dicta eum ipsam.</p>

{% endblock %}